.navbar-fixed
  %nav
    .nav-wrapper
      %a.brand-logo{:href => root_url} 25 Febrero, 2017
      %a.button-collapse{"data-activates" => "mobile-app", :href => "#"}
        %i.material-icons menu
      %ul.right.hide-on-med-and-down
        %li
          %a hola
        %li
          %a.waves-effect.waves-light.btn-large{href: "#regalos"}
            Regalanos!

      %ul#mobile-app.side-nav
        %li
          %a.waves-effect.waves-ligh{href: "#regalos"}
            Regalanos!