.navbar-fixed
  %nav
    .nav-wrapper.u-green
      %a.brand-logo.lemonada{:href => root_url} ¡Bienvenidos!
      %a.button-collapse{"data-activates" => "mobile-app", :href => "#"}
        %i.material-icons menu
      %ul.right.hide-on-med-and-down
        %li

        %li
          %a.waves-effect.waves-light.btn-large.btn-gift{href: "#regalos"}
            Regálanos!

      %ul#mobile-app.side-nav
        %li
          %a.waves-effect.waves-light.btn-gift{href: "#regalos"}
            Regálanos!