@import "materialize";

.parallax-container {
  height: 300px;
}

.title-regalo {
  height: 55px;
  font-weight: 900;
}

.pd-top {
  margin-top: 10px;
}

.img-responsive {
  max-height: 180px;
}

.price-text {
  font-size: small;
}

.card-gift {
  height: 220px;
}