@import "materialize";

.parallax-container{
  height: 450px;
}
.no-pad-bot {
  height: 450px;
  background-color: rgba(0, 0, 0, 0.23);
}
.opacity-wrap{
  height: 450px;
  background-image: asset_url("flores.jpg");
  background-position: 5% 9%;
  background-size: cover;
  background-attachment: fixed;
}
.title-regalo {
  height: 55px;
  font-weight: 900;
}

.pd-top {
  margin-top: 10px;
}
.pd-top-2 {
  margin-top: 22px;
}
.mg-left {
  margin-left: 10px;
}
.price-text {
  font-size: small;
}

.card-gift {
  height: 220px;
}
.white-text{
  color: #fff;
}
.mr-top-ten{
  margin-top: 10em;
}
.lemonada{
  font-family: 'Lemonada', cursive;
}
.arima{
  font-family: 'Arima Madurai', cursive;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}
.pd-right{
  padding-right: 1em;
}
.u-green{
  background-color: #043742;
}
.btn-gift{
  border-radius: 8px;
  font-weight: bold;
  padding: 0px 20px;
}
nav .brand-logo {
  font-size: 1.5rem;
  padding: 0 0 0 1em;
}
@media (max-width: 480px){
  .mr-top-ten{
    margin-top: 5em;
  }
}
.pd-top-two{
  padding-top: 3em;
}
.gr-text{
  color: #0B544E;
}

.container {
  width: 85%;
}

.modal2 {
  width: 75% !important;
  max-height: 100% !important;
}