@import "materialize";

.parallax-container{
  height: 450px;
}
.no-pad-bot {
  height: 450px;
  background-color: rgba(0, 0, 0, 0.3);
}
.opacity-wrap{
  height: 450px;
  background-image: asset_url("flores.jpg");
  background-position: 5% 9%;
  background-size: cover;
  background-attachment: fixed;
  opacity: 1;
}
.title-regalo {
  height: 55px;
  font-weight: 900;
}

.pd-top {
  margin-top: 10px;
}

.img-responsive {
  max-height: 180px;
}

.price-text {
  font-size: small;
}

.card-gift {
  height: 220px;
}
.white-text{
  color: #fff;
}
.mr-top-ten{
  margin-top: 10em;
}
.lemonada{
  font-family: 'Lemonada', cursive;
}
.arima{
  font-family: 'Arima Madurai', cursive;
}
.right{
  text-align: right;
}